<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      
      <ul class="sidebar-menu" data-widget="tree">
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> List</a></li>
            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> New User</a></li>
          </ul>
        </li>
        <li class="treeview">
            <a href="#">
              <i class="fa fa-edit"></i> <span>Ticket</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> List</a></li>
              <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> New Ticket</a></li>
            </ul>
          </li>
        <li class="treeview">
            <a href="#">
              <i class="fa fa-edit"></i> <span>Sumary</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> To View</a></li>
            </ul>
          </li>  
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
